.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  border-top: 30px solid #f4cf47;
}
h1 {
  color: #f4cf47;
  font-family: "Fredoka One", cursive;
}

.app__searchForm {
  margin-top: 17px;
}

.app__input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 17px;
  border-radius: 15px;
}

.app__submit {
  margin-left: 6px;
  width: 90px;
  height: 30px;
  border: solid 2px #000;
  border-radius: 15px;
  background: #f4cf47;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
}

.app__submit:hover {
  filter: brightness(110%);
}

.app__healthLabels {
  padding: 5px 8px;
  margin-left: 6px;
  border-radius: 15px;
  border: solid 2px #000;
  font-size: 14px;
}

.app__recipes {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 220px 220px;
  align-items: baseline;
}
